@model IEnumerable<Movie>

@{
    ViewData["Title"] = "Search Results";
}

<h1>Search Results</h1>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Poster)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ReleaseYear)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @{
                        <img src="@item.Poster" height="100" />;

                    }
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Poster)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ReleaseYear)
                </td>
            </tr>
        }
    </tbody>
</table>
}
<!--Add pagination to table: try  https://mdbootstrap.com/docs/jquery/tables/pagination/
    or https://www.geeksforgeeks.org/how-to-make-a-pagination-using-html-and-css/ -->
